* {
-webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
-moz-box-sizing: border-box; /* Firefox, other Gecko */
box-sizing: border-box; /* Opera/IE 8+ */
margin: 0;
padding: 0;
}

.ons-icon {
font-size: 32px;
line-height: 0.75em;
  vertical-align: -25%;
}

.right .toolbar-button:last-child {
	margin-right: 10px;
}

#geolocation img{max-width:none}

@font-face {
  font-family: 'Conv_kenteken';
  src: url('../fonts/kenteken.eot'); /* IE9 Compat Modes */
  src: url('../fonts/kenteken.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
       url('../fonts/kenteken.woff2') format('woff2'), /* Super Modern Browsers */
       url('../fonts/kenteken.woff') format('woff'), /* Pretty Modern Browsers */
       url('../fonts/kenteken.ttf')  format('truetype'), /* Safari, Android, iOS */
       url('../fonts/kenteken.svg#svgFontName') format('svg'); /* Legacy iOS */

	font-weight: normal;
	font-style: normal;
}

.left {
	text-align: left;
}

.licenseplatebar {
	background: #F5DE06 no-repeat 0 0 url("../img/kentnnl.svg");
	background: -moz-linear-gradient(top, #efd94c 0%, #f4dc04 100%) url(../img/kentnnl.svg) no-repeat top left;
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#efd94c), color-stop(100%,#f4dc04)) url(../img/kentnnl.svg) no-repeat top left;
	background: -webkit-linear-gradient(top, #efd94c 0%,#f4dc04 100%) url(../img/kentnnl.svg) no-repeat top left;
	background: -o-linear-gradient(top, #efd94c 0%,#f4dc04 100%) url(../img/kentnnl.svg) no-repeat top left;
	background: -ms-linear-gradient(to bottom, #efd94c 0%,#f4dc04 100%) url(../img/kentnnl.svg) no-repeat top left;
	background: linear-gradient(to bottom, #efd94c 0%,#f4dc04 100%) url(../img/kentnnl.svg) no-repeat top left;
	background-color: #F5DE06\9 !important;
	filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(
	src='../img/kentnnl.gif',
	sizingMethod='crop');
	border: 1px solid #F9C107;
	background-size: contain;
	text-align: center;
	font-family: 'Conv_kenteken';
	/* max-width: 35%; */
	/* width: 35%; */
	text-transform: uppercase;
	color: #000;

	/* need a fix for opera*/
	max-width: 9em;
	padding-left: 0.7em;
	min-height: 1em;
	font-size: 1.6em;
	border-radius: 3px;
	width: auto;
}

.licenseplateform {
	text-align: center;
	margin: 5px;
}

.licenseplateform .input-append {
	/*width: 350px;*/
}

.licenseplatecar {
	top:0;
	height: 33px;
}

#ordershow {
	text-align: center;
}

.ng-hide {
	display: none;
}


#rdwinfo {
	font-family:Verdana, sans-serif;
	font-size:10px;
	color:#000000;
	line-height:14px;
	text-align: center;
}

#rdwinfo  .title
{
	padding: 10px 0px 2px 0px !important;
}
#rdwinfo  .voertuigGegevens *
{
	border: none !important;
}
#rdwinfo  .voertuigGegevens th
{
	padding: 0px 0px 0px 25px !important;
}

#rdwinfo  .voertuigGegevens td
{
	padding: 0px !important;
}
#rdwinfo  .title, .subtitle
{
	font-weight: bold; 
	font-size: 11px; 
	color: #cc3300;
	margin-left: 0;
	text-align: center;
}
#rdwinfo  #panels div
{
	display: block;
	padding: 10px;
	border: 1px solid #cc3300;
}	
#rdwinfo  #main-content
{	
  padding-left: 50%;
  margin-left: -200px;
}
#rdwinfo  #content-container #main-content table
{
	padding:2px;
	border-collapse:collapse;
	background-color: #FFFFFF;
}
#rdwinfo  #content-container #main-content table td,
#rdwinfo  #content-container #main-content table th
{
	border:1px solid #72797f;
	padding:5px;
	text-align:left;
	vertical-align:top;
}
