<!doctype html>
<html ng-csp="">
  <head>
	  <meta charset="UTF-8">
	  <meta http-equiv="Pragma" content="no-cache">
		<meta http-equiv="Cache-Control" content="no-cache">
		<meta http-equiv="Expires" content="Sat, 01 Dec 2001 00:00:00 GMT">
	  <title>Automotive workshop</title>  
	  
	  <link rel="stylesheet" href="./css/onsenui.css">  
	  <link rel="stylesheet" href="./styles/onsen-css-components-blue-theme.css">  
	  <link href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
	  <link rel="stylesheet" href="./css/angular-bootstrap-calendar.min.css"/>
	  <link rel="stylesheet" href="./styles/app.css">  

		<script type="text/javascript" src="cordova.js"></script>  
		   
		<script type="text/javascript" src="https://code.angularjs.org/1.4.0/angular.min.js"></script>  
		<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>		
		<script type="text/javascript" src="js/onsenui.min.js"></script>  	
		<script type="text/javascript" src="js/angular-local-storage.min.js"></script>
		<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBeyepY1W5MQtdovxCS_6SWYouRGobAfz4"></script>
		<script type="text/javascript" src="js/jspdf.min.js"></script>	
	    <script type="text/javascript" src="js/moment.js"></script>

		<script type="text/javascript" src="js/is.js"></script>  
		
		<script type="text/javascript" src="./js/angular-bootstrap-calendar.min.js"></script>	
		<script type="text/javascript" src="./js/angular-bootstrap-calendar-tpls.min.js"></script>
	
		<script type="text/javascript" src="./js/index.js"></script>
		<script type="text/javascript" src="./js/makephoto.js"></script>

		
	  <style>
    .page--menu-page__background {
      background-color: #333;
    }
    
    .page--menu-page__content {
      color: white;
    }

    .menu-close,
    .menu-close > .toolbar-button {
      color: #999;
    }

    .menu-list,
    .menu-item:first-child,
    .menu-item:last-child,
    .menu-item {
      background-color: transparent;
      background-image: none !important;
      border-color: transparent;
      color: #fff;
    }

    .menu-item {
      padding: 0 0 0 20px;
      line-height: 52px;
      height: 52px;
      text-shadow: rgba(0, 0, 0, 0.4) 0px 1px 0px;
    }

    .menu-item:active {
      background-color: rgba(255, 255, 255, 0.1);
    }

    .menu-notification {
      display: inline-block;
      margin-top: 12px;
      font-size: 14px;
      height: 16px;
      line-height: 16px;
      min-width: 16px;
      font-weight: 600;
    }

    .bottom-menu-list,
    .bottom-menu-item:first-child,
    .bottom-menu-item:last-child,
    .bottom-menu-item {
      border-color: #393939;
      background-color: transparent;
      background-image: none !important;
      color: #ccc;
    }

    .bottom-menu-item:active {
      background-color: rgba(255, 255, 255, 0.1);
    }
  </style>
	
	
  </head>
  <body ng-controller="AppController" var="myNavigator">

    <ons-tabbar>
      <ons-tabbar-item icon="fa-list" page="hoge.html" active="true"></ons-tabbar-item>
      <ons-tabbar-item icon="fa-calendar" page="calender.html"></ons-tabbar-item>
    </ons-tabbar>
      
    <script type="text/ons-template" id="hoge.html">
      <ons-sliding-menu main-page="home.html" menu-page="menu.html" side="left" var="menu" type="overlay" max-slide-distance="250px">
    </script>	  
    <script type="text/ons-template" id="calender.html">
      <ons-sliding-menu main-page="calendar.html" menu-page="menu.html" side="left" var="menu" type="overlay" max-slide-distance="250px">
    </script>	
	<script type="text/ons-template" id="phogo.html">
      <ons-sliding-menu main-page="photo.html" menu-page="menu.html" side="left" var="menu" type="overlay" max-slide-distance="250px">
     
    </script>	

	<script type="text/ons-template" id="setting.html">
      <ons-sliding-menu main-page="settings.html" menu-page="menu.html" side="left" var="menu" type="overlay" max-slide-distance="250px">
      
    </script>	
	<script type="text/ons-template" id="helf.html">
      <ons-sliding-menu main-page="help.html" menu-page="menu.html" side="left" var="menu" type="overlay" max-slide-distance="250px">
      
    </script>	
	  
<ons-template id="home.html">

  <ons-page ng-controller="HomeCtrl">
    <ons-toolbar>
      <div class="left">
         <ons-toolbar-button ng-click="menu.setMainPage('settings.html', {closeMenu: true})"><ons-icon icon="fa-cog"></ons-icon></ons-toolbar-button>
      </div>
      <div class="center">Lijst overzicht</div>
	  <div class="right">
         <ons-toolbar-button ng-click="menu.setMainPage('photo.html', {closeMenu: true})"><ons-icon icon="fa-plus"></ons-icon></ons-toolbar-button>
      </div>
	  
    </ons-toolbar>

			
	<div id="ordershow" list-orders="{{orderAantal}}"></div >
	
	<div style="text-align: center; font-weight: bold; font-size: 1.5em; position: absolute; padding-top: 15px; width: 100%;" class="center-block">{{noOrder}}</div>
	
    <div id="orders" ng-model="orders" ng-bind="variable">
	
		
	</div>
  </ons-page>

</ons-template>

<ons-template id="calendar.html">

  <ons-page ng-controller="CalendarCtrl">
    <ons-toolbar>
      <div class="left">
         <ons-toolbar-button ng-click="menu.setMainPage('settings.html', {closeMenu: true})"><ons-icon icon="fa-cog"></ons-icon></ons-toolbar-button>
      </div>
      <div class="center">Kalender overzicht</div>
	  <div class="right">
		
         <ons-toolbar-button ng-click="menu.setMainPage('photo.html', {closeMenu: true})"><ons-icon icon="fa-plus"></ons-icon></ons-toolbar-button>
      </div>
	  
    </ons-toolbar>


	
       <div class="col-md-8 col-md-offset-2">
		
		<mwl-calendar
			view="calendarView"
			current-day="calendarDay"
			events="events"
			view-title="calendarTitle"
			on-event-click="eventClicked(calendarEvent)"
			on-event-drop="calendarEvent.startsAt = calendarNewEventStart; calendarEvent.endsAt = calendarNewEventEnd"
			edit-event-html="'<i class=\'glyphicon glyphicon-pencil\'></i>'"
			delete-event-html="'<i class=\'glyphicon glyphicon-remove\'></i>'"
			on-edit-event-click="eventEdited(calendarEvent)"
			on-delete-event-click="eventDeleted(calendarEvent)"
			auto-open="true">
		</mwl-calendar>

		</div>
		
			<div class="col-md-12 center-block" style="text-align:center; margin-top: 10px;">
			
				<div class="center">
					 <button
					  class="btn btn-primary"
					  mwl-date-modifier
					  date="calendarDay"
					  decrement="calendarView">
					  Vorige week
					</button>
			

					<button
					  class="btn btn-success"
					  mwl-date-modifier
					  date="calendarDay"
					  set-to-today>
					  Huidige week
					</button>

					<button
					  class="btn btn-primary"
					  mwl-date-modifier
					  date="calendarDay"
					  increment="calendarView">
					  Volgende week
					</button>
				</div>
			</div>
	</div>

  </ons-page>

</ons-template>



<ons-template id="photo.html">
	<ons-page>
		<ons-toolbar>
		  <div class="left">
			 <ons-toolbar-button ng-click="menu.setMainPage('settings.html', {closeMenu: true})"><ons-icon icon="fa-cog"></ons-icon></ons-toolbar-button>
		  </div>
		  <div class="center">Toevoegen</div>
		  <div class="right">
			 <ons-toolbar-button ng-click="menu.setMainPage('photo.html', {closeMenu: true})"><ons-icon icon="fa-plus"></ons-icon></ons-toolbar-button>
		  </div>
		</ons-toolbar>

	
		<div style="text-align: center" ng-controller="FormCtrl">
			<form id="order_form" ng-submit="submit()">
				<section style="padding: 8px">
					<input class="licenseplatebar" id="licenseplate" ng-model="kenteken" maxlength="8" type="text" value="" placeholder="Kenteken" />
				</section>

				<section style="padding: 8px">
					<input class="text-input" type="text" ng-model="newCheck" placeholder="Checklist item" style="margin-top: 4px;">
					<ons-button type="submit" modifier="small" ng-click="addCheck()">Toevoegen</ons-button>
				</section>
			
				<ons-list style="text-align: center; margin-bottom: 15px;" ng-repeat="check in checklist track by $index" ng-if="$index > 0" ng-init="sectionIndex = $index">
					
					<ons-list-item ng-if="checklist == ''">Voeg een checklist item toe</ons-list-item>
					<ons-list-item>
						<ons-row>
							<ons-col style="text-transform: uppercase;">	
								<strong>{{check}}</strong>
							</ons-col>	
							<ons-col>	
								<ons-button type="submit" modifier="small" ng-click="removeItem(sectionIndex)">Verwijder</ons-button>
							</ons-col>
						</ons-row>
					</ons-list-item>
				</ons-list>
		  
				<section style="padding: 0 8px 8px">
					<textarea class="textarea" ng-model="opmerking" id="opmerking" placeholder="Opmerkingen / Reparatiepunten" style="width: 100%; height: 100px;"></textarea>
				</section>

				<section style="padding: 0 8px 8px">
				</section>


				<h4>Voeg foto's toe van reparatie punten</h4>
				

				<ons-row>
					<ons-col>	
						<ons-button modifier="small" onclick="capturePhoto();">Maak een foto</ons-button>
					</ons-col>		
					<ons-col>
						<ons-button  modifier="small" onclick="getPhoto(pictureSource.SAVEDPHOTOALBUM);">Selecteer uit album</ons-button>
					</ons-col>
				</ons-row>
				
			
			
				<ons-row>	
					<div id="theimg" class="text-center center-block">
						<img style="display:none;width:60px;height:60px;" class="center-block" id="captureimg" src="./img/unknown.png" />				
					</div>
				</ons-row>
				<br>
				<ons-row>	
					<ons-col>
						<ons-button type="submit" modifier="large" ng-click="submit()">Toevoegen</ons-button>
					</ons-col>
				</ons-row>	
			</form>
		</div>
	</ons-page>
  
</ons-template>





<ons-template id="order-data.html">
  <ons-page ng-controller="OrderController">
    <ons-toolbar>
      <div class="left">
         <ons-toolbar-button ng-click="menu.setMainPage('settings.html', {closeMenu: true})"><ons-icon icon="fa-cog"></ons-icon></ons-toolbar-button>
      </div>
      <div class="center">Details</div>
	  <div class="right" style="margin-left: -50px;">
		<ons-toolbar-button style="" ng-click="printPDF(kenteken)" class="btn-success" modifier="small"><span class="fa fa-print"></span></ons-toolbar-button>
		<ons-toolbar-button style="margin-left: 5px;" onclick="menu.setMainPage('order-edit.html', {closeMenu: true})" class="btn-warning" modifier="small"><span class="fa fa-pencil"></span></ons-toolbar-button>
		<ons-toolbar-button style="margin-left: 5px;" ng-click="removeOrder(orderkey)" class="btn-danger" modifier="small"><span class="fa fa-times"></span></ons-toolbar-button>
		<ons-toolbar-button style="" ng-click="menu.setMainPage('photo.html', {closeMenu: true})"><ons-icon icon="fa-plus"></ons-icon></ons-toolbar-button>

		</div>
    </ons-toolbar>

    
   <div style="text-align: center" id="render"> 

		<section style="padding: 8px">		
			<div class="panel-heading bg-primary">		
				<span style="text-transform: uppercase"><strong>Reparatie: {{kenteken}}</strong></span><br>
				<span>Behandelt door: {{naam}}</span>
			</div>
		</section>
		<section style="padding: 8px">
			<div id="rdwinfo" ng-bind-html="auto"></div>
		</section>
		<section style="padding: 8px">
			<div class="panel-heading bg-warning">
				<strong>Reparatie punten</strong>
			</div>
			<ons-list class="" style="font-size: 0.8em; text-align: center; margin-bottom: 15px;">
				
				<ons-list-item ng-if="checklist == ''">Geen reparatie punten</ons-list-item>
				<ons-list-item class="bg-primary" ng-repeat="check in checklist track by $index" ng-if="$index > 0" ng-init="sectionIndex = $index">
					<ons-row>
						<ons-col style="text-transform: uppercase;">	
							{{check}}
						</ons-col>	
					</ons-row>
				</ons-list-item>
			</ons-list>
		</section>
		
		<section style="padding: 8px; text-align:center;">
			<div class="panel-heading bg-warning">
				<strong class="title">Foto</strong>
			</div>
			<div class="well">
				<img style="display:block;width:60px;height:60px;" class="center-block" id="srcimg" ng-src="{{img}}" />
			</div>
		</section>
	
		<section style="padding: 8px; text-align:center;">
			<div class="panel-heading bg-warning">
				<strong class="title">Opmerking</strong>
			</div>
			<p class="well">{{opmerking}}</p>
		</section>
    </div>
	
	<section style="padding: 8px; text-align:center;">
		<div id="geolocation" class="center-block" style="width: 250px; height: 250px; margin-bottom: 10px; overflow: scroll; border-radius: 30px;"></div>
	</section>


	
  </ons-page>
</ons-template>



<ons-template id="order-edit.html">
  <ons-page ng-controller="OrderEditCtrl">
    <ons-toolbar>
      <div class="left">
         <ons-toolbar-button ng-click="menu.setMainPage('settings.html', {closeMenu: true})"><ons-icon icon="fa-cog"></ons-icon></ons-toolbar-button>
      </div>
      <div class="center">Details</div>
	  <div class="right">
		<ons-toolbar-button ng-click="removeOrder(orderkey)" style="margin-left: 5px;" class="btn-danger" modifier="small"><span class="fa fa-times"></span></ons-toolbar-button>
		<ons-toolbar-button ng-click="menu.setMainPage('photo.html', {closeMenu: true})"><ons-icon icon="fa-plus"></ons-icon></ons-toolbar-button>
	</div>
    </ons-toolbar>

    
   <div style="text-align: center"> 

		<section style="padding: 8px">		
			<div class="panel-heading bg-primary">		
				<span style="text-transform: uppercase"><strong>Reparatie: {{kenteken}}</strong></span><br>
				<span>Behandelt door: {{naam}}</span>
			</div>
		</section>
		<section style="padding: 8px">
			<div id="rdwinfo" ng-bind-html="auto"></div>
		</section>
		<section style="padding: 8px">
			<div class="panel-heading bg-warning">
				<strong>Reparatie punten</strong>
			</div>
			<section style="padding: 8px">
				<input class="text-input" type="text" ng-model="newCheck" placeholder="Checklist item" style="margin-top: 4px;">
				<ons-button type="submit" modifier="small" ng-click="addCheck()">Toevoegen</ons-button>
			</section>
			
			<ons-list class="" style="font-size: 0.8em; text-align: center; margin-bottom: 15px;">
				
				<ons-list-item ng-if="checklist == ''">Geen reparatie punten</ons-list-item>
				<ons-list-item class="bg-primary" ng-repeat="check in checklist track by $index" ng-if="$index > 0" ng-init="sectionIndex = $index">
					<ons-row>
						<ons-col style="text-transform: uppercase;">	
							{{check}}
						</ons-col>	
						<ons-col>	
							<ons-button class="btn-warning" type="submit" modifier="small" ng-click="removeItem(sectionIndex)">Verwijder</ons-button>
						</ons-col>
					</ons-row>
				</ons-list-item>
			</ons-list>
		</section>
		
		<section style="padding: 8px; text-align:center;">
			<div class="panel-heading bg-warning">
				<strong class="title">Foto</strong>
			</div>
			<div class="well">
				<img style="display:block;width:60px;height:60px;" class="center-block" id="srcimg" ng-src="{{img}}" />
			</div>
			<ons-row>
				<ons-col>		
					<ons-button modifier="small" onclick="capturePhoto();">Maak een foto</ons-button>
				</ons-col>		
				<ons-col>
					<ons-button  modifier="small" onclick="getPhoto(pictureSource.SAVEDPHOTOALBUM);">Selecteer uit album</ons-button>
				</ons-col>
			</ons-row>
			
			
				<ons-row>	
					<div id="theimg">
						<img style="display:none;width:60px;height:60px;" class="center-block" id="captureimg" src="./img/unknown.png" />				
					</div>
				</ons-row>
				<br>
			
		</section>
	
		<section style="padding: 8px; text-align:center;">
			<div class="panel-heading bg-warning">
				<strong class="title">Opmerking</strong>
			</div>
			<textarea class="well"  ng-model="opmerking" id="opmerking" style="width: 100%">{{opmerking}}</textarea>
		</section>

				<ons-row>	
					<ons-col>
						<ons-button type="submit" modifier="large" ng-click="submit()">Opslaan</ons-button>
					</ons-col>
				</ons-row>	
		
    </div>
	
  </ons-page>
</ons-template>


<ons-template id="settings.html">
	  <ons-page ng-controller="SettingsCtrl">
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="fa-bars"></ons-icon></ons-toolbar-button>
      </div>
      <div class="center">Instellingen</div>
    </ons-toolbar>

    
   <div style="text-align: center">

		<ul class="list">
			<li class="list__header">App instellingen</li>

			<li class="list__item">
			
			<ons-row>
				<ons-col>
					Naam gebruiker
				</ons-col>
				<ons-col>
				  <label class="text text--list-item">
					<input type="text" class="text-input" value="{{naam}}" style="vertical-align: middle; text-align: right;">
				  </label>
				</ons-col>
			</ons-row>
			</li>

			<li class="list__item">
			<ons-row>
				<ons-col>
			 Garage
			  	</ons-col>
				<ons-col>
			  <label class="text text--list-item">
				<input type="text" class="text-input" value="{{garage}}" style="vertical-align: middle; text-align: right;">
			  </label>
				</ons-col>
			</ons-row>
			</li>
			
			<li class="list__item">
			<ons-row>
				<ons-col>
			 Api Url
			  	</ons-col>
				<ons-col>
			  <label class="text text--list-item">
				<input type="text" class="text-input" value="{{api_url}}" style="vertical-align: middle; text-align: right;">
			  </label>
			  	</ons-col>
			</ons-row>
			</li>

			<li class="list__item" ng-click="clearAll()">
			  <i class="fa fa-share-alt fa-fw" style="color: #A2A7B0; font-size: 22px; vertical-align: middle;"></i> Verwijder lokale data
			  
			</li>
		  </ul>
  
	</div>
  </ons-page>
</ons-template>

<ons-template id="contact.html">
  <ons-page>
    <ons-toolbar>
      <div class="left">
         <ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="fa-bars"></ons-icon></ons-toolbar-button>
      </div>
      <div class="center">Stuur Feedback</div>
    </ons-toolbar>

	
	<div style="text-align: center">

      <section style="padding: 8px">
        <input type="text" class="text-input" ng-model="text" placeholder="Naam" style="display: block; width: 100%">
      </section>

      <section style="padding: 0 8px 8px">
        <textarea class="textarea" ng-model="text2" placeholder="Opmerkingen / Feedback" style="width: 100%; height: 100px;"></textarea>
      </section>

						<br>
	<ons-row>	
		<ons-col>
			<ons-button modifier="large">Verstuur</ons-button>
        </ons-col>
	</ons-row>	
	
	    </div>
  </ons-page>
</ons-template>		

<ons-template id="help.html">

  <ons-page>
    <ons-toolbar>
      <div class="left">
        <ons-toolbar-button ng-click="menu.toggleMenu()"><ons-icon icon="fa-bars"></ons-icon></ons-toolbar-button>
      </div>
      <div class="center">Help</div>
	  
    </ons-toolbar>

	<div style="text-align: center">

      <p>Deze app is bedoelt voor eenvoudige reparatie planning en afhandeling voor monteurs en garagisten</p><br><span>Deze app is gemaakt door Paul van Dun.</span>	
	
	    </div>

  </ons-page>
</ons-template>		





<ons-template id="menu.html">
 
   <ons-page modifier="menu-page">
      <ons-toolbar modifier="transparent"></ons-toolbar>

      <ons-list class="menu-list">
        <ons-list-item class="menu-item" ng-click="menu.setMainPage('photo.html', {closeMenu: true})">
          <ons-icon icon="fa-plus" fixed-width="true"></ons-icon>
          Toevoegen
        </ons-list-item>

        <ons-list-item class="menu-item" ng-click="menu.setMainPage('home.html', {closeMenu: true})">
          <ons-icon icon="fa-list" fixed-width="true"></ons-icon>
          Overzicht
        </ons-list-item>
      </ons-list>

      <br>

      <ons-list class="bottom-menu-list">
        <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('settings.html', {closeMenu: true})">
          Settings
          <div class="notification menu-notification">3</div>
        </ons-list-item>

        <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('help.html', {closeMenu: true})">
          Help
        </ons-list-item>

        <ons-list-item class="bottom-menu-item" ng-click="menu.setMainPage('contact.html', {closeMenu: true})">
          Stuur feedback
        </ons-list-item>
      </ons-list>
    </ons-page>  
  
</ons-template>		


	
	
  </body>
</html>